<h1>CoinCompare</h1>
<small>Top Performing Cryptocurrencies</small>
<hr>
<br>

<% if params[:id] %>
  <h3> Historical Index of <%= link_to("#{params[:id]}", "https://en.wikipedia.org/wiki/#{params[:id]}") %> </h3>
  <small>Click the Link in the Coin Title to Learn More</small>
  <hr>
  <% else %>
  <h3> Choose a coin: </h3>
<% end %>

<%= line_chart @currencies %>


<div class="btn-toolbar" style="display: flex; margin-top: 15px;">
  <style>
  .btn-default { margin-right:1em; }
  </style>
   <div style="margin: auto;">
    <a class="btn btn-default" href=<%= currency_path('Bitcoin') %> role="button">Bitcoin</a>
    <a class="btn btn-default" href=<%=currency_path('Ethereum') %> role="button">Ethereum</a>
    <a class="btn btn-default" href=<%=currency_path('Nasdaq') %> role="button">Nasdaq</a>
  </div>
</div>